<div class="container">
  <div class="section__info">
    <div class="section__head">
      <h2 class="section__title">CPQ Data Migration Tool</h2>
      <p class="section__description">
        Try our free CPQ Data Migration Tool for developers and admins. This tool is designed to extract CPQ configuration data like "Price Rules" and "Product Rules" into JSON format and provide you with an Apex Script to deploy it.
      </p>
      <p>Contact us below for access!</p>
    </div>
  </div>
  <div>
    <img loading="lazy" src= "/images/appDemo.gif">
    </div>
</div>