<style>
  @keyframes bounce {
    0% {
      transform: translateY(100%);
    }
    60% {
      transform: translateY(-20px);
      opacity: 1;
    }
    80% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }  
  }
    .popup {
      display: none;
      position: fixed;
      bottom: 20px;
      width: 100%;
      padding: 0px;
      background-color: hsl(240, 100%, 74%);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      z-index: 1000;
      text-align: center;
      margin-bottom: -20px;
      animation: bounce 0.5s;
    }
    #inviteText{
      color: white;
      font-size: 14px;
    }
    #inviteBell{
      font-size: 18px;
      transform:translateY(2px);
    }
  </style>

  <div id="contributePopup" class="popup">
    <span id="inviteText"><i id="inviteBell" class="ion ion-ios-notifications-outline"></i> Subscribe <a href="http://eepurl.com/iXG4gA">here</a> for updates as new articles post!</span>
  </div>

  <script>

    document.addEventListener("DOMContentLoaded", function () {
      setTimeout(function () {
        document.getElementById("contributePopup").style.display = "block";
      }, 90000); // 8 secs
    });
  </script>
