<div class="container">
  <div class="section__info">
    <div class="section__head">
      <h3 class="section__title">{{ site.data.settings.blog.blog__title }}</h3>
      {% if site.data.settings.blog.blog__description %}
        <p class="section__description">{{ site.data.settings.blog.blog__description }}</p>
        <!-- <a href="/tags/?tag=cpq"><button class="button button--primary">Learn CPQ</button></a>
        <a href="/tags/?tag=rlm"><button class="button button--primary">Learn RLM</button></a> -->
       <!-- <h2 class="section__description" id="call-to-action">{{ site.data.settings.blog.blog__call-to-action }} <a href="tags/?tag=video-guides"><u>Real-World-Projects</u></a> to get started!</h2> -->
      {% endif %}
    </div>
  </div>

  <div class="row grid">
    {% if site.posts.size > 0 %}
      {% for post in paginator.posts %}
        {% include article.html %}
      {% endfor %}
    {% endif %}
  </div>
</div>
