<div class="container">
  <div class="section__info">
    <div class="section__head">
      <h3 class="section__title">{{ site.data.settings.blog.blog__title }}</h3>
      {% if site.data.settings.blog.blog__description %}
        <p class="section__description">{{ site.data.settings.blog.blog__description }}</p>
        <!-- <a href="/tags/?tag=cpq"><button class="button button--primary">Learn CPQ</button></a>
        <a href="/tags/?tag=rlm"><button class="button button--primary">Learn RLM</button></a> -->
       <!-- <h2 class="section__description" id="call-to-action">{{ site.data.settings.blog.blog__call-to-action }} <a href="tags/?tag=video-guides"><u>Real-World-Projects</u></a> to get started!</h2> -->
      {% endif %}
    </div>
  </div>

  <div class="row grid">
    {% if site.posts.size > 0 %}
      {% assign excluded_tags = site.data.settings.blog.exclude_tags %}
      {% assign shown = 0 %}
      {% for post in site.posts %}
        {% if shown >= 3 %}{% break %}{% endif %}
        {% assign should_exclude = false %}
        {% for tag in post.tags %}
          {% if excluded_tags contains tag %}
            {% assign should_exclude = true %}
            {% break %}
          {% endif %}
        {% endfor %}
        {% unless should_exclude %}
          {% include article.html %}
          {% assign shown = shown | plus: 1 %}
        {% endunless %}
      {% endfor %}
    {% endif %}
  </div>
</div>
