<!-- begin footer -->
<footer class="footer">

  <div class="footer__inner">

    <div class="container">
      <div class="row">

        <div class="col col-6 col-d-12">
          <div class="widget-footer widget-author">
            <h3 class="widget-footer__title">About</h3>
            {% if site.data.settings.author.author__bio %}
            <p class="widget-author__bio" style="color: white;">{{site.data.settings.author.author__bio}}</p>
            {% endif %}
          </div>
        </div>

        <div class="col col-2 col-m-12">
          <div class="widget-footer widget-social">
            <h3 class="widget-footer__title">Articles</h3>
            {% if site.data.settings.home__items %}
            <div class="social">
              <ul class="social__list list-reset">
                {% for item in site.data.settings.home__items %}
                <li class="widget-nav__item">
                  <a href="{{ item.url | relative_url }}" class="widget-nav__link">{{ item.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
        </div>

        <div class="col col-2 col-m-12">
          <div class="widget-footer widget-nav">
            <h3 class="widget-footer__title">Pages</h3>
            <ul class="widget-nav__list list-reset">
              {% for item in site.data.settings.menu__items %}
              <li class="widget-nav__item">
                <a href="{{ item.url | relative_url }}" class="widget-nav__link">{{ item.title }}</a>
              </li>
              {% endfor %}
              {% if site.data.settings.linkedin_url %}
              <li class="widget-nav__item">
                <a href="{{ site.data.settings.linkedin_url }}" class="widget-nav__link" target="_blank" rel="noopener">LinkedIn</a>
              </li>
              {% endif %}
              {% if site.data.settings.youtube_url %}
              <li class="widget-nav__item">
                <a href="{{ site.data.settings.youtube_url }}" class="widget-nav__link" target="_blank" rel="noopener">YouTube</a>
              </li>
              {% endif %}              
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer__info">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="copyright"> &copy; <a href="/">{{ site.data.settings.title }}</a></div>
          <!-- <div class="copyright"><a href="https://silkquote.com">SilkQuote</div> -->
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- end footer -->