<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.data.settings.google-analytics }}');

  var _gtmLoaded = false;
  function _loadGTM() {
    if (_gtmLoaded) return;
    _gtmLoaded = true;
    var s = document.createElement('script');
    s.async = true;
    s.src = 'https://www.googletagmanager.com/gtag/js?id={{ site.data.settings.google-analytics }}';
    document.head.appendChild(s);
  }
  ['touchstart','click','keydown'].forEach(function(e) {
    document.addEventListener(e, _loadGTM, {once: true, passive: true});
  });
</script>
