<!-- begin pagination -->
<div class="container animate">
  {% assign postCount = site.posts | size %}
  {% assign postsCovered = site.paginate | plus:offset %}
  {% if postsCovered < postCount %}
  <div class="pagination">
    <button class="load-more-posts button button--primary">Load More</button>
  </div>
  {% endif %}
  <div class="pageSearch">
      <i class="icon__search ion ion-md-search" 
      style="font-size: 2.5em; cursor: pointer; transition: transform 0.2s ease;" 
      onclick="searchOpen()" 
      onmouseover="this.style.transform='scale(1.2)'" 
      onmouseout="this.style.transform='scale(1)'">
    </i>
  </div>
</div>
<!-- end pagination -->