/* Sections */
.section__head {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 48px;

  .section__title {
    margin-bottom: 0;
    font-size: 44px;
  }

  .section__description {
    max-width: 760px;
    margin-top: 0px;
    margin-bottom: 30;
    font-size: 28px;
    line-height: 1.45;
    color: var(--text-alt-color);
  }
  .blog__description{
    font-style: italic;
    //margin-top: -20px;
  }

  @media (max-width: $desktop) {
    .section__title {
      font-size: 32px;
    }

    .section__description {
      margin-top: 0px;
      font-size: 24px;
    }
  }

  @media (max-width: $mobile) {
    .section__description {
      margin-top: 0px;
      font-size: 20px;
    }
  }
}

#recommended {
  background-color: transparent;
  padding: 80px 0;
}

.section__head__small {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 12px;
  margin-bottom: 32px;

  .section__title {
    margin-right: 20px;
    margin-bottom: 0;
    font-size: 21px;
    line-height: 1.3;
  }

  .section__link {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;

    &:hover {
      i {
        transform: translateX(2px);
      }
    }

    i {
      margin-left: 8px;
      font-size: 28px;
      transition: $global-transition;
    }
  }
}
